<form #loginForm = "ngForm" (ngSubmit)="login(loginForm, loginForm.value)" class="h-100 bg-dark">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase">Prijava korisnika</h3>

                <div class="form-outline mb-4">
                  <label class="form-label" for="username">Korisničko ime</label>
                  <input #username="ngModel" required ngModel type="text" id="username" name="username" class="form-control form-control-lg" />
                  <span class="help-block" *ngIf="!username.valid && username.touched"> Unesite korisničko ime!</span>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="password">Lozinka</label>
                  <input #pass="ngModel" required ngModel type="password" name="password" id="password" class="form-control form-control-lg" />
                  <span class="help-block" *ngIf="!pass.valid && pass.touched"> Unesite lozinku!</span>
                </div>

                <div class="d-flex justify-content-end pt-3" style="margin-bottom: 30px; margin-top: 30px">
                  <button [disabled]="!loginForm.valid" type="submit" class="btn btn-success">Prijavi se</button>
                </div>
                <br>
                <a routerLink="/register"> Ako još nisi korisnik, registriraj se &rarr;</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
