<form (ngSubmit)="onRegister(registerF, registerF.value)"
      #registerF = "ngForm" class="h-100 bg-dark">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase">Registracija korisnika</h3>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="name">Ime</label>
                      <input #name="ngModel" required ngModel type="text" id="name" name="name" class="form-control form-control-lg" />
                      <span class="help-block" *ngIf="!name.valid && name.touched"> Unesite ime!</span>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="surname">Prezime</label>
                      <input #surname="ngModel" required ngModel type="text" id="surname" name="surname" class="form-control form-control-lg" />
                      <span class="help-block" *ngIf="!surname.valid && surname.touched"> Unesite prezime!</span>
                    </div>
                  </div>
                </div>


                <div class="form-outline mb-4">
                  <label class="form-label" for="username">Korisničko ime</label>
                  <input #username="ngModel" required ngModel type="text" id="username" name="username" class="form-control form-control-lg" />
                  <span class="help-block" *ngIf="!username.valid && username.touched"> Unesite korisničko ime!</span>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="email">E-mail</label>
                  <input #email="ngModel" required email ngModel type="email" id="email" name="email" class="form-control form-control-lg" />
                  <span class="help-block" *ngIf="!email.valid && email.touched"> Unesite ispravan email!</span>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="password">Lozinka</label>
                  <input #pass1="ngModel" required ngModel type="password" name="password" id="password" class="form-control form-control-lg" />
                  <span class="help-block" *ngIf="!pass1.valid && pass1.touched"> Unesite lozinku!</span>
                </div>
                <br>

                <div class="d-flex justify-content-end pt-3 btn-group" style="margin-bottom: 30px">
                  <button [disabled]="!registerF.valid" type="submit" class="btn btn-success">Registriraj se</button>
                  <button [disabled]="!registerF.dirty" type="button" class="btn btn-light" (click)="onResetForm(registerF)">Izbriši upisano</button>
                </div>
                <br>
                <a routerLink="/login"> Ako si već korisnik, prijavi se &rarr;</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
