<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a [class.disabled_link]="!user" routerLink="{{user ? '' : '#'}}" class="navbar-brand">Knjižnica</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li *ngIf=" user " routerLinkActive="active"><a routerLink="/books">Knjige</a></li>
        <li *ngIf=" user" routerLinkActive="active"><a routerLink="/authors">Svi autori</a></li>
        <li *ngIf=" user && user.role === 0" routerLinkActive="active"><a routerLink="/new">Dodaj u knjižnicu</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="user"
          class="dropdown"
          appDropdown>
          <a class="dropdown-toggle" role="button" style="cursor: pointer">{{user.username}} <span class="caret"></span></a>
          <ul class="dropdown-menu" >
            <li><a routerLink="/myLoans" style="cursor: pointer">Moje posudbe</a> </li>
            <li><a style="cursor: pointer" (click)="onLogout()">Odjava</a> </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
