<div *ngIf="isFetching" style="text-align: center">
  <app-loader></app-loader>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6 col-md-3">
    <p *ngIf="books.length < 1 && !isFetching">No books available</p>
    <ul class="list-group" *ngIf="books.length >= 1 && !isFetching">
      <a routerLink="/books/{{book.id}}" *ngFor="let book of books">
        <li class="list-group-item" >
          <img src="{{book.coverURL}}" alt="{{book.title}}" style="max-width: 100%">
          <h3>{{book.title}}</h3>
          <h5>{{book.authorId}}</h5>
          <p>{{book.yearPublished}}</p>
        </li>
      </a>

    </ul>
  </div>
</div>
