<form #authorForm="ngForm"
      class="col-xs-12 col-md-6 col-md-offset-3"
      (ngSubmit)="onCreateAuthor(authorForm.value, authorForm)">
  <div class="form-group">
    <label for="name">Ime*</label>
    <input
      type="text"
      class="form-control"
      id="name"
      required
      ngModel
      #name="ngModel"
      name="name">
    <span class="help-block" *ngIf="!name.value && name.touched"> Unesite ime autora!</span>
  </div>

  <div class="form-group">
    <label for="surname">Prezime*</label>
    <input
      type="text"
      class="form-control"
      id="surname"
      required
      ngModel
      #surname="ngModel"
      name="surname">
    <span class="help-block" *ngIf="!surname.value && surname.touched"> Unesite prezime autora!</span>
  </div>

  <div class="form-group row">
    <label for="yearBorn">Godina rođenja*</label>
    <input
      type="number"
      class="form-control"
      id="yearBorn"
      required
      ngModel
      #yearBorn="ngModel"
      name="yearBorn">
    <span class="help-block" *ngIf="!yearBorn.value && yearBorn.touched"> Unesite godinu rođenja!</span>

    <label for="yearDied">Godina smrti</label>
    <input
      type="number"
      class="form-control"
      id="yearDied"
      ngModel
      name="yearDied">

  </div>
  <div class="row">
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="!authorForm.valid">
      Add new author
    </button>
  </div>

</form>
