<form #authorForm="ngForm"
      class="col-xs-12 col-md-6 col-md-offset-3"
      (ngSubmit)="onCreateAuthor(authorForm.value)">
  <div class="form-group">
    <label for="name">Ime*</label>
    <input
      type="text"
      class="form-control"
      id="name"
      required
      ngModel
      name="name">
  </div>

  <div class="form-group">
    <label for="surname">Prezime*</label>
    <input
      type="text"
      class="form-control"
      id="surname"
      required
      ngModel
      name="surname">
  </div>

  <div class="form-group col-xs-12 col-md-6">
    <label for="yearBorn">Godina rođenja*</label>
    <input
      type="number"
      class="form-control"
      id="yearBorn"
      required
      ngModel
      name="yearBorn">
  </div>

  <div class="form-group col-xs-12 col-md-6">
    <label for="yearDied">Godina smrti</label>
    <input
      type="number"
      class="form-control"
      id="yearDied"
      ngModel
      name="yearDied">
  </div>
  <button
    class="btn btn-primary"
    type="submit"
    [disabled]="!authorForm.valid">
    Add new author
  </button>
</form>
