<form #bookForm = "ngForm"
  class="col-xs-12 col-md-6 col-md-offset-3"
  (ngSubmit)="onCreateBook(bookForm.value, bookForm)">
  <div class="form-group">
    <label for="title">Naslov*</label>
    <input
      type="text"
      class="form-control"
      id="title"
      required
      ngModel
      name="title">
  </div>

  <div class="form-group">
    <label for="authorId">Autor*</label>
    <select name="authorId" id="authorId" class="form-control" required ngModel>
      <option *ngFor="let author of authors" value="{{author.id}}">{{author.surname}}, {{author.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="coverURL">URL slike naslovnice*</label>
    <input
      type="url"
      class="form-control"
      id="coverURL"
      required
      ngModel
      name="coverURL">
  </div>

  <div class="form-group">
    <label for="yearPublished">Godina izdavanja*</label>
    <input
      type="number"
      class="form-control"
      id="yearPublished"
      required
      ngModel
      name="yearPublished">
  </div>

  <br>

  <div class="form-group">
    <label for="authorId">Žanr*</label>
    <select name="genre" id="genre" class="form-control" required ngModel>
      <option *ngFor="let genre of genres" value="{{genre}}">{{genre}}</option>
    </select>
  </div>

  <br>
  <button
    class="btn btn-primary"
    type="submit"
    [disabled]="!bookForm.valid">
    Add new book
  </button>

</form>
